@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Futura-Light;
    src: url(../fonts/Futura-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: Futura-Book;
    src: url(../fonts/Futura-Book.ttf) format("truetype");
  }

  @font-face {
    font-family: Futura-Medium;
    src: url(../fonts/Futura-Medium.ttf) format("truetype");
  }

  body {
    @apply bg-white dark:bg-black text-brown dark:text-slate-200 font-futuraregular;
  }

  a {
    @apply text-brown dark:text-slate-100 hover:text-brown decoration-brown dark:decoration-slate-100 hover:decoration-orange-500 underline underline-offset-2 transform transition duration-500;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-brown dark:text-slate-100;
  }
}
