@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Futura-Light;
    src: url(../fonts/Futura-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: Futura-Book;
    src: url(../fonts/Futura-Book.ttf) format("truetype");
  }

  @font-face {
    font-family: Futura-Medium;
    src: url(../fonts/Futura-Medium.ttf) format("truetype");
  }

  body {
    @apply text-brown font-futuraregular;
  }

  .shadow-custom {
    /* box-shadow: 0px 8px 6px -6px rgb(235 234 242); */
    box-shadow: 0px 3px 6px #0000001a;
  }
}
